*
{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body {
      font-family:'Hevetica','Arial', 'Open Sans', sans-serif;
}
.box
{
	
	background-color:#e9edf2;
	padding-left: 10px;
	height: 100%;
	width: 100%;
}
.top
{
	background-color:#31353d;
	color:white; 
	width:100%;
	margin:0px;
}
.dark
{
	background-color:#31353d;
	color:white; 
	width:100%;
	margin:0px;
}
#wrapper{
	width:75%;
}
.light
{
	background-color:#e9edf2;
	color:blue;
	width:100%;
	margin:0px;
}
#top_left
{
	float: left;
	position:relative;
	left:10px;
	display:inline-block;
	height: 50px;
}
#top_center
{
	text-align: center;
}
#feedback
{
	text-align: center;
	padding-top: 20px;
	padding-left: 100px;
	color: blue;
	width: 100%;
}
#top_right
{
	float:right;
	position:relative;
	right: 300px;
	top: 10px;
	height: 50px;
	color: white;
}
#top_div
{
	height:50px;
	line-height:40px;
}
#logo_left
{
	display:inline-block;
	position:relative;
	height:250px;
	width: 300px;
	
}
#logo_right
{
	float:right;
	margin-top:50px;
}
#middle
{
	position: relative;
	top: 200px;
}
ul li
{
	background-color:#66cddd;
	width:176px;
	height:35px;
	display:inline-block;
	line-height:35px;
	text-align:center;
}
ul li a
{
	color:white;
	text-decoration:none;
	display:block;
}
ul li a:hover
{
	background-color:orange;
	color:black;
}
a
{
	color:white;
	text-decoration:none;
}
a:hover
{
	background-color:green;
	color:black;
}

#slider_image 
{
	width:100%;
	border:1px solid grey;
	background-color:#eee;
	box-shadow:5px 5px 10px grey;
	margin-top:10px;
	height:315px;
}
.home 
{
	width:100%;
	border:1px solid grey;
	box-shadow:5px 5px 10px grey;
	margin-top:50px;
	height:200px;
	padding-top: 20px;
}
#welcome
{
	text-align: center;
	color: blue;
	margin-top: 30px;
	padding-top: 50px;
	height: 50px;
}
#mob_left
{
	display:inline-block;
	padding-left: 10px;
	
}

#email_right
{
	display:inline-block;
	float:right;
}
#Back
{
	float:left;
	width:400px;
	
}

#courses
{
	height:230px;
	width:100%;
	display:inline-block;
	font-size: 20px;
	padding-left: 10px;
}
#mobile
{
	display:inline-block;
	width:50%;
	height:230px;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 50px;
}
#mail
{
	display:inline-block;
	float:right;
	width:40%;
	height:230px;
	font-size: 20px;
	padding-top: 50px;
}
#media
{
	height:50px;
	width:100%;
	display:inline-block;
	float:left;
	
}
#location
{
	display:inline-block;
	float:right;
	position: relative;
	top: -40px;
}
#services
{
	display:inline-block;
	width:50%;
	height:230px;
	font-size: 20px;
	padding-left: 10px;
}
#training
{
	display:inline-block;
	float:right;
	width:40%;
	height:230px;
	font-size: 20px;
}
span a
{
	color: blue;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}
	
#image
{
	height:100px;
	width:150px;	
	float:left;
	display:inline-block;
}
#background
{
	background-color: #31353d;
	position: relative;
	width: 50%;
	height:150px;
	padding-left: 10px;
	padding-top: 20px;
}
#vision
{
	background-color: #31353d;
	display:inline-block;
	width: 40%;
	position: relative;
	padding-top: 20px;
	top-right: 5px;
	top: -140px;
	left: 60%
}
#myForm
{
	text-align: center;
	position: relative;
	height: 400px;
	padding: 10px;
	padding-top: 50px;
	background-color: rgba(0,0,0,.2);
}
.myForm
{
	width: 400px;
	margin-left: 350px;
	margin-top: 50px;
	text-align: center;
}
#myForm input[type='text']
{
	background: transparent;
	border-bottom: 2px solid black;
	text-align: center;
}

#coded
{
	position: absolute;
	height:900px;
	width:25%;
	top: 5px;
	right: 0px;
	margin: 0px;
	padding: 0px;
}
#wrap
{
	position: absolute;
	top:60px;
	height:700px;
	width:25%;
	color: blue;
}
#result
{
	position: relative;
	margin-left: 200px;
	bottom: 20px;
	color: #31353d;
	font-size: 17px;
	border: 1px solid green;
	text-align: center;
}
#myDoc
{
	text-align: center;
}